.sticker {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000000;
	cursor: move;
}
.sticker .inner {
	position: relative;
	width: 200px;
	height: 200px;
	padding: 30px 10px 10px;
}
.sticker .memo {
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
	font-size: 15px;
	line-height: 1.5;
}
.sticker .memo:focus {
	outline: none;
}
.sticker .delete {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	text-decoration: none;
}

/*Color:Black*/
.sticker.black .inner {
	background: rgba(0,0,0,0.8);
}
.sticker.black .memo,
.sticker.black .delete {
	color: #fff;
}
/*Color:Red*/
.sticker.red .inner {
	background: rgba(255,0,0,0.8);
}
.sticker.red .memo,
.sticker.red .delete {
	color: #ccc;
}
/*Color:Blue*/
.sticker.blue .inner {
	background: rgba(0,8,60,0.8);
}
.sticker.blue .memo,
.sticker.blue .delete {
	color: #eee;
}
/*Color:Yellow*/
.sticker.yellow .inner {
	background: rgba(253,238,83,0.8);
}
.sticker.yellow .memo,
.sticker.yellow .delete {
	color: #151d45;
}

